* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.button {
  padding: 5px 10px;
}

.modal {
  display: none;
}

.modal.opened {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  width: 400px;
  height: 400px;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.modal__close {
  position: absolute;
  right: -30px;
  top: -30px;
}
